/* CSS cho phần giao diện [MAIN] */

.main__function__text {
    -fx-text-fill: linear-gradient(to right, #2196F3, #42A5F5); 
    -fx-font-size: 18px; 
    -fx-font-weight: bold; 
    -fx-graphic-text-gap: 10; 
    -fx-alignment: center; 
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 3, 0, 1, 1); 
    -fx-padding: 10px; 
    -fx-background-color: white; 
    -fx-border-color: #E0E0E0; 
    -fx-border-width: 1px; 
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.main__button {
    -fx-background-color: #04aa6d;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-radius: 8px;
    -fx-graphic-text-gap: 10;
    -fx-padding: 10px 10px;
}

.main__button:hover {
    -fx-background-color: #04aa6d;
}


.main__button:focused {
    -fx-border-color: linear-gradient(to right, #04aa6d, #028c5a);
    -fx-border-width: 2px;
    -fx-border-radius: 8px;
    -fx-effect: dropshadow(gaussian, rgba(4, 170, 109, 0.5), 8, 0.3, 0, 0);
    -fx-background-color: linear-gradient(to bottom, #04aa6d, #028c5a);
    -fx-text-fill: white;
}