.left-pane {
    -fx-background-color: #2ecc71; /* Màu xanh lục */
}

.right-pane {
    -fx-background-color: #ffffff; /* Màu trắng */
}

.description {
    -fx-font-size: 18px;
    -fx-text-fill: #fff;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-font-weight: bold;
}

.description:hover {
    -fx-font-size: 18px;
    -fx-text-fill: white;
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-background-radius: 10;
}

.btn {
    -fx-background-color: transparent;
    -fx-border-radius: 999px;
    -fx-border-color: #fff;
    -fx-border-width: 2px;
    -fx-text-fill: #fff;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
}